body {
    font-family: "Didot", didot;
    background-color: #FFE4E1;
    color: #BC8F8F;
    padding: 25px;
    font-size: 100%;
    text-align: center;

}


div#purpose {
    padding: 50px;
    background-color: #7E6B6F;
    color: #FFE4E1;
    border: double 10px #FFE4E1;
}

div#challenges {
    padding: 50px;
    background-color: #FFE4E1;
    color: #7E6B6F;
    border: solid 3px #7E6B6F;
}

div#results {
    padding: 50px;
    background-color: #7E6B6F;
    color: #FFE4E1;
    border: double 10px #FFE4E1;
}


h1, h2, h3 {
    font-family: "Didot", didot;
}

img {
    width: 700px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

img:hover {
  width: 1000px;
  height: auto;
}


a {
    text-decoration: none;
    color: #BC8F8F;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: double;
}
