body {
    font-family: "Didot", didot;
    background-color: #FFE4E1;
    color: #BC8F8F;
    padding: 25px;
    font-size: 110%;
    text-align: center;
}

h1, h2, h3 {
    font-family: "Didot", didot;
    text-transform: uppercase;
}

img {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 15px #BC8F8F
  }

div#content {
  border: solid 6px #BC8F8F;
  margin: 50px
  padding: 50px
}

div#purpose {
    padding: 50px;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #BC8F8F;
    color: #FFE4E1;
    border: double 15px #FFE4E1;
  }

div#challenges {
    padding: 50px;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFE4E1;
    color: #BC8F8F;
    border: solid 6px #BC8F8F;
}

div#results {
    padding: 50px;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #BC8F8F;
    color: #FFE4E1;
    border: double 15px #FFE4E1;
}

a {
    text-decoration: none;
    color: #BC8F8F;

}

a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
