body {
    font-family: "Didot", didot;
    background-color: #BC8F8F;
    color: #FFE4E1;
    padding: 25px;
    font-size: 100%;
    text-align: center;

}


div#purpose {
    padding: 50px;
    background-color: #7E6B6F;
    border: solid 3px #FFE4E1;
}

div#challenges {
    padding: 50px;
    background-color: #BC8F8F;
    border: solid 3px #FFE4E1;
}

div#results {
    padding: 50px;
    background-color: #7E6B6F;
    border: solid 3px #FFE4E1;
}


h1, h2, h3 {
    font-family: "Didot", didot;
}

img {
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: double 15px
}

a {
    text-decoration: none;
    color: #FFE4E1;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: double;
}
